.card {
  border: 4px solid rgb(82, 38, 127);
  background-color: white;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  padding: 10px;
  opacity: 85%;
}

.card img {
  width: 50%;
}

.card h2 {
  font-size: 24px;
  margin: 5px;
  font-family: monospace;
}

.card span {
  font-size: 16px;
  font-family: fantasy;
}
