header {
  height: 50px;
  background-color: black;
  opacity: 90%;
  color: rgb(172, 199, 249);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 30px;
  border-bottom: 1px rgb(255, 250, 192) solid;
}
