footer {
  background-color: rgb(19, 2, 34);
  height: 30px;
  color: rgb(172, 199, 249);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  opacity: 90%;
  border-top: 1px rgb(255, 250, 192) solid;
}
